<?xml version="1.0"?>
<launch>
    <!-- Set the device port -->
    <arg name="port" default="/dev/ttyTHS2" />
    <!-- Start node to control motors -->
    <node pkg="pololu_ros" type="pololu_node.py" name="daisy_node" respawn="true"  output="screen">
        <!-- Port file of usb serial device -->
        <param name="port" type="string" value="$(arg port)"/>
        <!-- Device number configuration for daisy chaining  -->
		<rosparam command="load" file="$(find pololu_ros)/launch/config.yaml" />
    </node>

</launch>
