<?xml version="1.0"?>
<launch>
    <!-- Set the device port -->
    <arg name="port" default="/dev/ttyTHS2" />
    <!-- Start node to control motors -->
    <node pkg="pololu_ros" type="pololu_node.py" name="daisy_node" respawn="true"  output="screen">
        <!-- Port file of usb serial device -->
        <param name="port" type="string" value="$(arg port)"/>
        <!-- Device number configuration for daisy chaining  -->
        <rosparam>
            # These are the device numbers of the board for the linear actuators (this is yaml)
              linear_actuators:
                  dumper: 4
        </rosparam>
    </node>

</launch>
