<?xml version="1.0"?>
<launch>
    <!-- Set the device port -->
    <arg name="timeout" default="1.0" />
    <arg name="extend_state" default="1000" />
    <arg name="amp_threshold" default="1000" />
    <!-- Start node to control motors -->
    <node pkg="pololu_ros" type="pololu_node.py" name="pololu_node" respawn="false"  output="screen">
        <param name="timeout" type="double" value="$(arg timeout)"/>
        <!-- Port file of usb serial device -->
		<!-- What pot value counts as being extended -->
        <param name="extend_state" type="int" value="$(arg extend_state)"/>
		<!-- Max current before we stop insert linear actuator -->
        <param name="amp_threshold" type="int" value="$(arg amp_threshold)"/>

        <!-- Device number configuration for daisy chaining  -->
		<rosparam command="load" file="$(find pololu_ros)/launch/config.yaml" />
    </node>

</launch>
